@font-face{
    font-family: 'Helvetica';
    src: url('Helvetica.ttf');
}

#black{
	-fx-background-color: black;
}

#blackczar{
	-fx-background-color: black;
	-fx-background-image: url("CzarImage.png");
	-fx-background-size: contain;
}

#background{
	-fx-background-color: #191919;
}

#backgroundimage{
	-fx-background-image: url("BackgroundImage.png");
	-fx-background-size: cover;
}

#splashimage{
	-fx-background-color: #191919;
	-fx-background-image: url("SplashImage.png");
	-fx-background-size: contain;
}

#button{
	-fx-background-color: black;	
}

#buttontext{
	-fx-font-family: "Helvetica";
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

#button:disabled{
	-fx-opacity: 1.0;	
}

#buttontext:disabled{
	-fx-opacity: 1.0;	
}

#whitecard{
	-fx-background-color: transparent;
	-fx-background-image: url("WhiteCard.png");
	-fx-background-size: contain;
}

#whitecardtext{
	-fx-font-family: "Helvetica";
	-fx-font-weight: bold;
	-fx-text-fill: black;
}

#whitecardselected{
	-fx-background-color: transparent;
	-fx-background-image: url("WhiteSelected.png");
	-fx-background-size: contain;
}

#whitecard:disabled{
	-fx-opacity: 1.0;	
}

#whitecardtext:disabled{
	-fx-opacity: 1.0;	
}

#blackcard{
	-fx-background-color: black;
}

#blackcardtext{
	-fx-font-family: "Helvetica";
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

#blackcard:disabled{
	-fx-opacity: 1.0;
}

#blackcardtext:disabled{
	-fx-opacity: 1.0;
}

#key{
	-fx-font-family: "Helvetica";
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-background-color: black;
}

#backbutton{
	-fx-background-image: url("Back.png");
	-fx-background-size: cover;
}

#forwardbutton{
	-fx-background-image: url("Forward.png");
	-fx-background-size: cover;
}